@use 'agnes-theme-scss/variables';
@import "agnes-theme-scss/variables";
@import "agnes-theme-scss/post";
.currentmenu{
  color:palevioletred;
  font-weight: bold;
}
.navimenu {
  color: pink;
}

.navimenu:active {
   color: pink;
}

.h1{
   text-align:center;
} 

@font-face{
  font-family: $myCustomFont;
  src: url("../font/NanumhandWriteMongdol.ttf");
}

body{

  font-family: $myCustomFont;
  
}