@use 'agnes-theme-scss/variables';
@import "agnes-theme-scss/variables";
@import "agnes-theme-scss/post";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.currentmenu{
  color:palevioletred;
  font-weight: bold;
}
.navimenu {
  color: pink;
}

.navimenu:active {
   color: pink;
}

.h1{
   text-align:center;
} 

@font-face{
  font-family: $myCustomFont;
  src: url("../font/NanumhandWriteMongdol.ttf");
}

body, head{

  font-family: $myCustomFont;
  
}

.horizontal {

  float: left;
  margin-left: 10px;

}

.toggle{

  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #f56a6a; 
  text-decoration: none;
  
}