@use "variables" as *;

body {
 font-family: $myCustomFont;
}

.codeblock{

  box-sizing: border-box;
  padding: 15px;
  font-size: 1.1rem;
  line-height: 1.7;
  border-radius: 5px;
  border: 1px solid #6e7781;
  margin: 3px;
  background-color: #24292f;
  color: #ffebe9;

}

/* .firstP:first-letter{
    float:letter;
    font-size:3em;
    line-height:1;
    margin:0 .2em 0 0;
    vertical-align: top;
} 가독성이 떨어진다.*/

@font-face{
    font-family: $myCustomFont;
    src: url("/assets/font/NanumhandWriteMongdol.ttf");
}
.highlight{
    font-family: $myCustomFont;
    src: url("/assets/font/NanumhandWriteMongdol.ttf");
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  font-family: $myCustomFont;
  src: url("/assets/font/NanumhandWriteMongdol.ttf");
  color: #24292f;
  background-color: #f6f8fa;
}
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight 
.kr, .highlight .kt, .highlight .kv {
  font-family: $myCustomFont;
  src: url("/assets/font/NanumhandWriteMongdol.ttf");
  color: #cf222e;
}
.highlight .gr {
  color: #f6f8fa;
}
.highlight .gd {
  color: #82071e;
  background-color: #ffebe9;
}
.highlight .nb {
  color: #953800;
}
.highlight .nc {
  color: #953800;
}
.highlight .no {
  color: #953800;
}
.highlight .nn {
  color: #953800;
}
.highlight .sr {
  color: #116329;
}
.highlight .na {
  color: #116329;
}
.highlight .nt {
  color: #116329;
}
.highlight .gi {
  color: #116329;
  background-color: #dafbe1;
}
.highlight .kc {
  color: #0550ae;
}
.highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #0550ae;
}
.highlight .sb {
  color: #0550ae;
}
.highlight .bp {
  color: #0550ae;
}
.highlight .ne {
  color: #0550ae;
}
.highlight .nl {
  color: #0550ae;
}
.highlight .py {
  color: #0550ae;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #0550ae;
}
.highlight .o, .highlight .ow {
  color: #0550ae;
}
.highlight .gh {
  color: #0550ae;
  font-weight: bold;
}
.highlight .gu {
  color: #0550ae;
  font-weight: bold;
}
.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight 
.sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {
  color: #0a3069;
}
.highlight .nd {
  color: #8250df;
}
.highlight .nf, .highlight .fm {
  color: #8250df;
}
.highlight .err {
  color: #f6f8fa;
  background-color: #82071e;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight 
.cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6e7781;
  font-family: $myCustomFont;
  src: url("/assets/font/NanumhandWriteMongdol.ttf");
}
.highlight .gl {
  font-family: $myCustomFont;
  src: url("/assets/font/NanumhandWriteMongdol.ttf");
  color: #6e7781;
}
.highlight .gt {
  font-family: $myCustomFont;
  src: url("/assets/font/NanumhandWriteMongdol.ttf");
  color: #6e7781;
}
.highlight .ni {
  font-family: $myCustomFont;
  src: url("/assets/font/NanumhandWriteMongdol.ttf");
  color: #24292f;
}
.highlight .si {
  font-family: $myCustomFont;
  src: url("/assets/font/NanumhandWriteMongdol.ttf");
  color: #24292f;
}
.highlight .ge {
  font-family: $myCustomFont;
  src: url("/assets/font/NanumhandWriteMongdol.ttf");
  color: #24292f;
  font-style: italic;
}
.highlight .gs {
  font-family: $myCustomFont;
  src: url("/assets/font/NanumhandWriteMongdol.ttf");
  color: #24292f;
  font-weight: bold;
}
.codeblock {
    font-family: $myCustomFont;
    src: url("/assets/font/NanumhandWriteMongdol.ttf");
}
