
$myCustomFont: 'NanumhandWriteMongdol' !default;
$serif: $myCustomFont , Georgia, Times, serif !default;
$sans-serif: $myCustomFont  "Roboto", "Segoe UI",
"Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

$global-font-family: $sans-serif !default;




