---
layout: default
---
<!doctype html>
<html>
    <head>
        <meta charset="utf=8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/style.css" >
        {% feed_meta %} 
        {%  seo %}
    </head>
    <body>
        <main>
            <div>
                <!-- layout 구성(sidebar + main) -->
                <div id="sidebar">
                    
                </div>
                <div class="horizontal">
                    <header> <strong> Archive </strong> for programming </header>
                    <ul class="icons">
                        <a href="#" target="_blank">
                            <i class="bi bi-twitter"> <strong class="label">twitter</strong></i>
                        </a>
                    </ul>
                </div>
                
            </div>

            <div>
                <a class="toggle"></a>
                {% include navigation.html %}
            </div>
            <h1>{{ page.title }}<img src="/assets/images/house.png" width="25px" height="25px"></h1>
            <p>{{ page.date | date_to_string }} - {{ page.author }}</p>
            
            <div class="contentDiv">

                {{ content }}
                
            </div>
        
        </main>

        {% include footer.html %}

    </body>
</html>